@import "tailwindcss";

@theme {
  --color-snhm: #97282c;
}

body {
  letter-spacing: var(--tracking-wider);
}

.skjul-felt {
  display: none;
}

.disableClick{
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

input::placeholder { color: var(--color-gray-500); }

input[type="checkbox"]:checked {
  accent-color: var(--color-snhm);
}
.router-link-exact-active,
.router-link-active {
  background-color: var(--color-snhm);
  padding: 3px 8px;
  color: var(--color-white);
  border-radius: 5px;
}

img {  
  height: 20px;
  object-fit: cover;
}