@import "tailwindcss";

@theme {
  --color-snhm: #97282c;
}

body {
  letter-spacing: var(--tracking-wider);
}

.skjul-felt {
  display: none;
}

.disableClick{
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

input::placeholder { color: var(--color-gray-500); }

.router-link-exact-active,
.router-link-active {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-snhm);
}